# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.class

# OS
.DS_Store
Thumbs.db

# Spring Boot
*.log
uploads/

# Environment
.env
application-local.properties
